@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --brand-color: #f5f0ff;

  --bg-midnight-blue: #343449;
  --bg-deep-purple: #4a437d;
  --bg-royal-blue: #5f4ccb;
  --bg-sky-blue: #3c8cff;
  --bg-lavender: #c0a5f2;
  --bg-transparent: transparent;
  --bg-brand-transparent: #f5f0ff48;

  --text-bold: 700;
  --text-medium: 500;
  --text-regular: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
  color: var(--brand-color);
}

@keyframes bg-animation {
  0% {
    background-color: var(--bg-midnight-blue);
  }
  12.5% {
    background-color: var(--bg-deep-purple);
  }
  25% {
    background-color: var(--bg-royal-blue);
  }
  37.5% {
    background-color: var(--bg-sky-blue);
  }
  50% {
    background-color: var(--bg-lavender);
  }
  62.5% {
    background-color: var(--bg-sky-blue);
  }
  75% {
    background-color: var(--bg-deep-purple);
  }
  87.5% {
    background-color: var(--bg-royal-blue);
  }
  100% {
    background-color: var(--bg-midnight-blue);
  }
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: bg-animation 60s ease-in-out 2s infinite;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

h1 {
  font-size: 20vh;
  font-weight: var(--text-bold);
}

span {
  font-weight: var(--text-regular);
}

p {
  font-size: 4vh;
  font-weight: var(--text-medium);
}

button {
  padding: 2vh 4vh;
  border: 2px solid transparent;
  font-size: 2.5vh;
  font-weight: var(--text-bold);
  background-color: var(--bg-brand-transparent);
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
}

button:hover {
  border: 2px solid var(--brand-color);
}

ul {
  display: flex;
  gap: 12px;
}

li {
  list-style: none;
  font-weight: var(--text-regular);
}

a {
  text-decoration: none;
  transition: all 0.1s ease;
}

a:hover {
  border-bottom: 2px solid var(--brand-color);
}

footer nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 1rem 10vw;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 18vw;
  }

  span {
    text-align: center;
  }

  p {
    font-size: 4vw;
  }

  button {
    width: 100%;
    font-size: 3vw;
  }

  ul {
    justify-content: center;
  }

  footer nav {
    flex-direction: column-reverse;
    gap: 24px;
    justify-content: center;
  }

  .container {
    padding: 20px 5vw;
  }
}
